table , tr , th , td {
    border: 1px solid black;
    border-collapse: collapse;
    background-color: #112d4e;
    color: whitesmoke;
    border-radius: 5px;
    
}

h1{
    color: whitesmoke;
}


*{
    box-sizing: border-box;
}

body{

    font-family: sans-serif;
    padding: 10px;
    background-color:#f9f7f7;


}


form{
    margin: 30px;
}




header{
    padding: 30px;
    text-align: center;
    background-color: #112d4e;
    border-radius: 10px;
}


nav{
    background-color: #3f72af;
    margin-bottom: 20px;
    border-radius: 10px;
}

nav ul{
    position: relative;
   
}

nav ul li {
    display: inline-block;
    padding: 20px;
}

nav ul li a {
    color: honeydew;
    text-decoration: none;
    font-family: sans-serif;
    font-weight: bold;
    text-align: center;
}



.about-us{
    width: 100%;
    padding: 20px;
    border: 3px solid gray;
    margin: 0;
    font-weight: bold;
    text-align: justify;
}

#hero{
    margin-top: 50px;
    text-align: center;
}


#paragraph{
    width: 100%;
    padding: 20px;
    border: 3px solid gray;
    margin-top: 30px;
    font-weight: bold;
    text-align: justify;
}

table{
    margin-right: auto;
    margin-left: auto;
}

.button {
    background-color: #112d4e; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    font-weight: bold;
    border-radius: 10px;
  }